.nav-pills {
  font-family: 'Lato', sans-serif;
  font-size: 2em;
  background-color:#B7C8B6;
  width: 100%;
  padding-top: 10px;
}

.thumbnail
{
  display: block;
  padding: 10px;
  margin-bottom: 15px;
  line-height: 0.72857143;
  border-radius: 4px;
  transition: transform 0.3s ease;
  background-color: #36454F;
border: 1px solid black;
}

/* Animation on hover */
.thumbnail:hover {
    transform: scale(1.05); /* Scale up the button by 5% on hover */
}

body{
  background-color:#B7C8B6;
}

.pageAbout{
  background-color:steelblue;
  background-size:cover;
  background-position : center;
}

.pageProfessionalGame
{
  background-color:#76a0ef;
  background-size:cover;
  background-position : fixed;
}

.pageGame{
  background-color:#1f7a7a;
  background-size:cover;
  background-position : fixed;
}

.pageWeb{
  background:darkslategrey;
  background-size:cover;
  background-position : fixed;
}


.pageArt{
  background:CORNFLOWERBLUE;
  background-size:cover;
  background-position : fixed;
}

.pageHistory
{
  background-color:LightSeaGreen;
  background-size:cover;
  background-position : fixed;
}

.pageContact{
  background-color:#76B6A1;
  background-size:cover;
  background-position : fixed;
}

.blueBig{
  color:white;
  font-family: 'Lato', sans-serif;
  text-shadow: 2px 0 black, -2px 0 black, 0 2px black, 0 -2px black, 1px 1px black, -1px -1px black, -1px 1px black, 1px -1px black;
  font-size:6em;
  margin-bottom: 30px;
}

.blueMedium{
  color:white;
  font-family: 'Lato', sans-serif;
  text-shadow: 2px 0 black, -2px 0 black, 0 2px black, 0 -2px black, 1px 1px black, -1px -1px black, -1px 1px black, 1px -1px black;
  font-size:3.5em;
  margin-bottom: 30px;
}

.blueSmall{
  color:white;
  font-family: 'Lato', sans-serif;
  text-shadow: 2px 0 black, -2px 0 black, 0 2px black, 0 -2px black, 1px 1px black, -1px -1px black, -1px 1px black, 1px -1px black;
  font-size: 1.8em;
}

.blueSmaller{
  color:white;
  font-family: 'Lato', sans-serif;
  text-shadow: 1px 0 black, -1px 0 black, 0 1px black, 0 -1px black, 0.5px 0.5px black, -0.5px -0.5px black, -0.5px 0.5px black, 0.5px -0.5px black;
  font-size: 1.7em;
}

.button{
  font-size:2em;
  font-family:'Raleway', sans-serif;
  transition: transform 0.3s ease;
}

/* Animation on hover */
.button:hover {
    transform: scale(1.1); /* Scale up the button by 10% on hover */
}

.textbox{
  border: 2px solid #0DFCA5;
  padding: 5px;
  font-family: 'Raleway', sans-serif;
  background-position: bottom right;
  background-repeat: no-repeat;
}

.brand{
  background: url(http://roxra.github.io/images/Roxra.png) center / contain no-repeat;
}

.transformers{
	padding-bottom: 27px;
}

.farmtale-img{
    width: 660px;
}

a {
  color: CornflowerBlue;
}

.container-fluid{
  padding-bottom: 20px;
}

.timeline-container {
  padding-left: 80px;
 }

.timeline {
  position: relative;
  border-left:3px solid #007bff;
  padding: 20px 40px;
  margin: 0;
  border-radius: 4px;
}

.event {
  position: relative;
  margin: 20px 0;
  padding: 20px;
  margin-right: -60px;
  background-color: #36454F;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transform: scale(0.9); /* Add a slight scale animation */
  transition: transform 0.3s ease-in-out;
   font-family:'Raleway', sans-serif;
}

.event:hover {
  transform: scale(1); /* Enlarge the event on hover */
}

.event::before {
  content: attr(data-date);
  position: absolute;
  top: -28px;
  left: 50%;
  background-color: #539dec;
  color: #fff;
  padding: 5px 10px;
  border-radius: 20px;
  transform: translateX(-50%);
  font-weight: bold;
  font-size: 18px;
}

.currentEvent::before {
  font-size: 22px;
  background-color: #007bff;
}

.event-content p {
  margin-bottom: 0;
  text-align: center;
}

.text-bubble {
  background-color: #007bff;
  color: #fff;
  border-radius: 20px;
  padding: 5px 10px;
  display: inline-block;
  margin-right: 5px;
  font-weight: bold;
  font-size: 5px;
}


.event-content ul {
  display: table;
  margin: 0 auto;
}