.nav-pills {
  font-family: 'Lato', sans-serif;
  font-size: 2em;
  background-color:#B7C8B6;
  width: 100%;
}

body{
  background-color:#B7C8B6;
}

.pageAbout{
  background-color:#9fc69f;
  background-size:cover;
  background-position : center;
}

.pageGame{
  background-color:#1f7a7a;
  background-size:cover;
  background-position : fixed;
}

.pageModels{
  background-color:steelblue;
  background-size:cover;
  background-position : fixed;
}

.pageWeb{
  background:darkslategrey;
  background-size:cover;
  background-position : fixed;
}


.pageArt{
  background:CORNFLOWERBLUE;
  background-size:cover;
  background-position : fixed;
}



.pageContact{
  background-color:#9ee0ca;
  background-size:cover;
  background-position : fixed;
}

.blueBig{
  color:white;
  font-family: 'Lato', sans-serif;
  text-shadow: 2px 0 black, -2px 0 black, 0 2px black, 0 -2px black, 1px 1px black, -1px -1px black, -1px 1px black, 1px -1px black;
  font-size:6em
}

.blueSmall{
  color:white;
  font-family: 'Lato', sans-serif;
  text-shadow: 2px 0 black, -2px 0 black, 0 2px black, 0 -2px black, 1px 1px black, -1px -1px black, -1px 1px black, 1px -1px black;
  font-size: 3em;
}

.button{
  font-size:2em;
  font-family:'Raleway', sans-serif;
}

.textbox {
  border: 2px solid #0DFCA5;
  padding: 5px;
  font-family: 'Raleway', sans-serif;
  background-position: bottom right;
  background-repeat: no-repeat;
}